/* General styles */
body {
  font-family:Courier New, Courier, times, times new roman, serif;
  font-size: 14px;
  margin: 0;
  padding: 10px 10px 10px 10px;
  border: 0;    /* This removes the border around the viewport in old versions of IE */
  background-image:url('baio_background.png');
}

div {
  padding: 10px;
  background-color: #b6d9ff;
}

#content {
  position: absolute;
  left: 240px;
}

#menu {
  position: absolute;
  left: 10px;
  width: 200px;
}

a:link, a:visited{
  color: #004892;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color: #1763b5;
}

a:focus, a:hover, a:active{
  color: #3c85d4;
  background-color: #b6d9ff;
}

img {
  border: 0px;
}

h1, h2, h3 {
  font-family:Courier New,Courier,times,times new roman,serif;
  font-style:italic;
  font-weight:normal;
  letter-spacing:-1px;
  font-size: 1.5em;
  color: #050404;
}


h2{
  font-size: 1.4em;
}

p{
  margin: 10px;
}

code {
  background: #b6d9ff;
  font-size: 0.9em;
  color: #004892;
}

pre{
  border: 4px solid #B6D9FF;
  background:#d2e8ff;
  color: #004892;
  padding: 15px;
  margin:5px 0;
}

pre code{
  background-color: transparent;
  display:block;
  line-height:16px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:pre;
  padding:0 5px;
}
ul
{
  list-style-type: square
}
* html body{
  overflow:hidden;
} 
* html div#content{
  height:100%;
  overflow:auto;
}
table
{
  max-width: 900px;
}
th
{
  padding-left: 10px;
  padding-right: 10px;
}
td
{
  padding-left: 10px;
  padding-right: 10px;
}
td.centered
{
  text-align: center;
}
td.numeric
{
  text-align: right;
}
tr.odd
{
  background-color: #d2e8ff;
}
tr.even
{
  background-color: #f2f2f2;
}

ul.errorlist
{
  background-color: #f22222;
  border: 2px solid #a02222;
  padding-top: 10px;
  padding-bottom: 10px;
}
