
<h1>Actions:</h1>

{% if group %}
<ul>
  <li><a href="/{{ group }}/add/transfer">Record Transfer</a></li>
  <li><a href="/{{ group }}/add/bill">Record Bill</a></li>
  <li><a href="/{{ group }}/">View Balances</a></li>
  <li><a href="/{{ group }}/view/all">View All Transactions</a></li>
  <li><a href="/{{ group }}/view/transfers">View Transfer History</a></li>
  <li><a href="/{{ group }}/view/bills">View Bill History</a></li>
  <li><a href="/{{ group }}/export/bill_anarchy.xls">Export All Transactions</a></li>
  <li><a href="/{{ group }}/invite_users/">Invite People to this Group</a></li>
  <li><a href="/{{ group }}/remove_users/">Remove People from this Group</a></li>
</ul>
{% endif %}

{% if current_user %}
Logged in as <a href="/">{{ current_user }}</a>
(<a href="/accounts/logout/">logout</a>).
<ul>
  <li><a href="/">All your groups</a></li>
  <li><a href="/create_group/">Create a new group</a></li>
  <li><a href="/accounts/set_password/">Change your password</a></li>
</ul>
{% else %}
<a href="/accounts/login/">login</a>
{% endif %}
