{% extends "base.html" %}

{% block title %}Record Transfer{% endblock %}

{% block content %}

<h1>Record Transfer:</h1>

<form method="POST" action="" >
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Create"/>
</form>

<script>$('id_{{form.comment.name}}').activate()</script>

{% endblock %}
