{% extends "base.html" %}

{% block title %}Record Bill{% endblock %}

{% block content %}
<h1>Record Bill:</h1>

<form method="POST" action="" >
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Create"/>
</form>

<script>
$('id_{{form.comment.name}}').activate()
var split_bill = function() {
  {% for d in form.debtor_fields %}
  $('id_{{ d.name }}').value = parseFloat($('id_amount').getValue())/{{ form.num_debtors }};
  {% endfor %}
}
</script>

{% endblock %}
