{% extends "base.html" %}

{% block content %}

<h1>Create Group:</h1>
        <form id="group_form" method="POST" action="" class="uniForm">
            <fieldset class="inlineLabels">
	      <table>
                {{ group_form.as_table }}
		</table>
                <div class="form_block">
                    <input type="hidden" name="action" value="create" />
                    <input type="submit" value="create"/>
                </div>
            </fieldset>
        </form>

<script>$('id_{{ group_form.name.name }}').activate()</script>

{% endblock %}
