{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<script>$('id_{{form.username.name}}').activate()</script>

<ul>
<li><a href="/accounts/create_account/">Create Account</a></li>
<li><a href="/accounts/forgot_password/">Forgot password</a></li>
</ul>
{% endblock %}
